<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="'Калькулятор '" />
<p th:text="'Вставьте любые значения и выберите действие, которые хотите совершить'" />
<form method="get" action="/Get">
    <input type="Pervoe" name="Pervoe" id="Pervoe"/><br>
    <select name="Znak" id="Znak">
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select><br>
    <input type="Vtoroe" name="Vtoroe" id="Vtoroe"/><br>
    <input  type="submit" value="Итог"/>
</form>
<p th:text="'Итог:'+ ${znaki} " />
<a  href="/">Назад</a>
</body>
</html>